<div class="row">
    <div class="col-md-4 mx-auto">
      <h2>LOGIN</h2>
      <div *ngIf="status" class="alert" [ngClass]="status.class">
        {{status.message}}
      </div>
      <form [formGroup]="form" (submit)="login()">
        
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
          <button type="submit" name="submit" class="btn btn-warning"> Login</button>
        </div>
      </form>
    </div>
  
  </div>